{% if SITE_NAME_BELOW or SEARCH_BELOW and S_DISPLAY_SEARCH %}
	<div id="search-box" class="search-box search-header">
    	<form action="{U_SEARCH}" method="get" id="search">
        	<fieldset>
            	<input name="keywords" id="keywords" type="search" maxlength="128" title="{{ lang('SEARCH_KEYWORDS') }}" class="inputbox search tiny" size="20" value="{SEARCH_WORDS}" placeholder="{{ lang('SEARCH_MINI') }}" />
               	<button class="button icon-button search-icon" type="submit" title="{{ lang('SEARCH') }}">{{ lang('SEARCH') }}</button>
               	<a href="{U_SEARCH}" class="button icon-button search-adv-icon" title="{{ lang('SEARCH_ADV') }}" />{{ lang('SEARCH_ADV') }}</a>
               	{S_SEARCH_HIDDEN_FIELDS}
            </fieldset>
        </form>
    </div>
{% endif %}
