<!-- Send the variables for the css files -->
<script>
	var backgroundImage		= '{{ SITE_LOGO_BACKGROUND }}';
	var bannerHeight		= '{{ BANNER_HEIGHT }}';
	var borderRadius		= '{{ BORDER_RADIUS }}';
	var logoCorners 		= '{{ LOGO_CORNERS }}';
	var logoHeight 			= '{{ LOGO_HEIGHT }}';
	var logoWidth 			= '{{ LOGO_WIDTH }}';
	var overrideColour		= '{{ OVERRIDE_COLOUR }}';
	var searchBelow			= '{{ SEARCH_BELOW }}';
	var siteLogo 			= '{{ SITE_LOGO_IMG_NEW }}';
	var siteLogoBanner		= '{{ SITE_LOGO_BANNER }}';
	var siteLogoCentre		= '{{ SITE_LOGO_CENTRE }}';
	var siteLogoRemove		= '{{ SITE_LOGO_REMOVE }}';
	var siteLogoRight		= '{{ SITE_LOGO_RIGHT }}';
	var siteNameSupress		= '{{ SITENAME_SUPRESS }}';
	var useBackground		= '{{ USE_BACKGROUND }}';
	var useBanner			= '{{ USE_BANNER }}';
	var useOverrideColour	= '{{ USE_OVERRIDE_COLOUR}}';
</script>

{% INCLUDEJS '@david63_sitelogo/css_switch_fn.js' %}
